/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  background: none;
}
.mat-horizontal-content-container {
  padding-top: 16px !important; // Override mat-stepper styles
}
